body{
    margin: 0;
    padding: 0;
}

#first{
    background-color: burlywood;
    position: relative;
    padding: 50px;
    top: -25px;
    border-bottom: 6px solid black;
}

#picture{
    position: relative;
    top: -25px;
}

#links{
    display: inline;
    letter-spacing: normal;
    margin-left: 700px;
    word-spacing: 1em;
    position: relative;
    bottom: -20px;
    font-weight: bold;
}

a:visited{
    color:black;
}

a:link{
    color:black;
}

h1{
    position: relative;
    top: 50px;
    margin-left: 30px;
    font-family: fantasy;
}

#part{
    background-color: burlywood;
    position: relative;
    top:-30px;
    border-bottom: 6px solid black;
    border-top: 6px solid black;

}

#video{
    position: relative;
    left: 425px;
    padding: 20px;
}

.button{
    background-color: bisque;
    position: relative;
    left: 695px;
    bottom: 9px;
}

.nav{
    padding: 0px;
    position: relative;
    top: -25px;
    left: 1100px;
}

.animate{
    position: relative;
    top: -300px;
    left: 150px;
}